---
title: Knowledge Base
permalink: /knowledge-base/
layout: page
excerpt: All post.
comments: false
show: true
---

<div class="search-article">
  <label for="search-input" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
  </label>
  <input type="search" id="search-input" placeholder="Search the knowledge base" aria-label="Search">
</div>

<ul id="search-results"></ul>


{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h1>{{ year.name }}</h1>
      {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

      {% for month in postsByMonth %}
  
          {% for post in month.items %}
            {% if post.tags contains 'knowledge base' %}
              <article class="post-item">
                <h3 class="post-item-title">
                  <a href="{{ post.url }}">{{ post.title | escape }}</a>
                </h3> 
              </article>
            {% endif %}
          {% endfor %}
    
      {% endfor %}
{% endfor %}
